body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

div.resultspgupper {
  background-color: yellow;
}

div.resultspglower {
  background-color: aqua;
}

input[type="search"] {
  border-color: 1px solid #c4c4c4;
  border-radius: 20px;
  color: #5b5b5b;
  width: 400px;
  display: block;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 10px;
}

input[name="searchres2"] {
  border-color: 1px solid #peachpuff;
  border-radius: 20px;
  color: #5b5b5b;
  width: 400px;
  display: block;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 10px;
}

img.logofront {
  width: 150px;
  margin-top: 100px;
}

img.logoresults {
  width: 200px;
  margin-right: 30px;
}

button {
  width: auto;
  color: white;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

button.primary {
  background-color: #4285f3;
  border-color: #1a5fd0;
}

button.primary:hover {
  background-color: #5998ff;
}

a.sm {
  font-size: 12px;
}

form {
}

h2 {
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: 24px;
}

nav {
  border-bottom: 1px solid;
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  grid-column-gap: 20px;
  padding: 10px;
}

span.numres {
  display: block;
  color: purple;
  padding-top: 30px;
  padding-bottom: 30px;
}

section {
  width: 700px;
}

p {
}

p,
span {
  font-size: 14px;
}

.results {
  padding-top: 40px;
}

ul {
  padding-left: 0px;
}

.wrap-sm {
  width: 400px;
  margin: 100px auto;
  text-align: center;
}
